<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - hymall電商平台</title>
</head>
<body>
    <%= require('html-loader!./layout/nav-simple.html') %>
    <div class="page-wrap">
        <div class="w">
            <div class="user-con">
                <div class="user-title">用戶註冊</div>
                <div class="user-box">
                    <div class="error-item">
                        <i class="fa fa-minus-circle error-icon"></i>
                        <p class="err-msg">Error</p>
                    </div>
                    <div class="user-item">
                        <label for="username" class="user-label">
                            <i class="fa fa-user"></i>
                        </label>
                        <input type="text" class="user-content" id="username" placeholder="請輸入用戶名" autocomplete="off"/>
                    </div>
                    <div class="user-item">
                        <label for="password" class="user-label">
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type="password" class="user-content" id="password" placeholder="請輸入密碼" autocomplete="off"/>
                    </div>
                    <div class="user-item">
                        <label for="password-confirm" class="user-label">
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type="password" class="user-content" id="password-confirm" placeholder="請再次請輸入密碼" autocomplete="off"/>
                    </div>
                    <div class="user-item">
                        <label for="phone" class="user-label">
                            <i class="fa fa-phone"></i>
                        </label>
                        <input type="text" class="user-content" id="phone" placeholder="請輸入手機號碼" autocomplete="off"/>
                    </div>
                    <div class="user-item">
                        <label for="email" class="user-label">
                            <i class="fa fa-envelope"></i>
                        </label>
                        <input type="text" class="user-content" id="email" placeholder="請輸入EMAIL" autocomplete="off"/>
                    </div>
                    <div class="user-item">
                        <label for="question" class="user-label">
                            <i class="fa fa-question"></i>
                        </label>
                        <input type="text" class="user-content" id="question" placeholder="請輸入密碼提示問題" autocomplete="off"/>
                    </div>
                    <div class="user-item">
                        <label for="answer" class="user-label">
                            <i class="fa fa-key"></i>
                        </label>
                        <input type="text" class="user-content" id="answer" placeholder="請輸入密碼提示問題答案" autocomplete="off"/>
                    </div>
                    <a class="btn btn-submit" id="submit">註冊</a>
                    <div class="link-item">
                        <a  class="link" href="./user-login.html">已有帳號,去登入>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>