<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://github.com/undertaker9104" class="link" target="_blank">
                Github
            </a> |
            <a href="https://www.google.com" class="link" target="_blank">
                Google
            </a> |
            <a href="https://aws.amazon.com" class="link" target="_blank">
                AWS
            </a>
        </div>
        <p class="copyright">
            Copyright © 2019 hymall.site All Right Reserved
        </p>
    </div>
</div>
<script
src="https://code.jquery.com/jquery-1.1.3.pack.js"
integrity="sha256-10nD2u5qpbofah85bQUTmT1eMFz2FHLDDUo4iVkCS8I="
crossorigin="anonymous"></script>