<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="hymall,電商,電商平台,hymall電商平台,網上購物,3C產品,手機,筆記本,相機,手錶,耳機,電商視頻">
<meta name="description" content="一個提供3C通訊、手機、電腦、居家百貨、服飾、母嬰、圖書、食品等數萬種優質商品、最優質的線上購物平台">
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.hymall.site">
<link rel="dns-prefetch" href="//img.hymall.site">
<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?bc210cd22928076d28296716d9dfcf01";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
