/*
 * @Author: Kris 
 * @Date: 2019-04-14 15:25:24 
 * @Last Modified by: Kris
 * @Last Modified time: 2019-04-20 14:02:31
 */
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}